<ion-navbar *navbar class="show-navbar" primary>
    <button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{parentGroup.title}}</ion-title>
</ion-navbar>
<ion-content>
    <ion-refresher (refresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Glisser vers le bas pour rafrâichir"
                refreshingSpinner="circles"
                refreshingText="Chargement...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
    <ion-slides [options]="sliderOptions" style="height: auto;" pager>
        <ion-slide *ngFor="#group of groups">
            <img src="{{group.imageName}}" (click)="onSelectSlide($event)">
        </ion-slide>
    </ion-slides>
    <ion-list no-border>
        <ion-item *ngFor="#group of groups | searchFilter:{title:searchQuery}" (click)="onClickListen($event,group)">
            <h2>{{group.title}}</h2>
            <p [innerHtml]="group.description"></p>
            <p *ngIf="group.items"><small><i>{{group.items}}</i></small></p>
        </ion-item>
    </ion-list>
</ion-content>