<ion-navbar *navbar primary>
    <ion-title>{{sound.name}}</ion-title>
</ion-navbar>
<ion-content class="has-header">
    <ion-list no-border>
        <ion-item>
            <ion-thumbnail item-left *ngIf="sound.user_id">
                <img src="{{getThumbtail(sound.user_id)}}" />
            </ion-thumbnail>
            <h2>{{sound.name}}</h2>
            <p *ngIf="sound.user_id">{{getUsername(sound.user_id)}}</p>
            <p>Ajouté le {{sound.creation_date | stringDate}}</p>
        </ion-item>
        <ion-item *ngIf="canRingtone()">
            <ion-label>Exporter en sonnerie</ion-label>
            <button outline primary item-right (click)="saveAs($event,'ringtone')"><ion-icon name="download"></ion-icon> Exporter</button>
        </ion-item>
        <ion-item *ngIf="canNotif()">
            <ion-label>Exporter en notification</ion-label>
            <button outline primary item-right (click)="saveAs($event,'notification')"><ion-icon name="download"></ion-icon> Exporter</button>
        </ion-item>
        <ion-item>
            <ion-label>Mettre en Favoris</ion-label>
            <button outline *ngIf="!bookmarked" item-right favorite (click)="onClickBookmark($event)"><ion-icon name="star"></ion-icon> Favoris</button>
            <button *ngIf="bookmarked" item-right danger (click)="onClickDeleteBookmark($event)"><ion-icon name="star"></ion-icon> Delete</button>
        </ion-item>
        <ion-item *ngIf="sound.lyrics">
            <ion-label>Paroles</ion-label>
            <button outline item-right (click)="onClickLyrics($event)"><ion-icon name="musical_notes"></ion-icon> Paroles</button>
        </ion-item>
        <ion-item *ngIf="platform.is('cordova')">
            <ion-label>Partager ce son</ion-label>
            <button outline secondary item-right (click)="onClickShare($event)"><ion-icon name="md-share"></ion-icon> Partager</button>
        </ion-item>
        <ion-item *ngIf="sound.youtube_url">
            <ion-label>Lien youtube</ion-label>
            <button outline dark item-right (click)="onRedirectYoutube($event)"><ion-icon name="desktop"></ion-icon> Youtube</button>
        </ion-item>
        <ion-item *ngIf="cacheService.soundInCache(sound.file)">
            <ion-label>Effacer du cache</ion-label>
            <button outline danger item-right (click)="removeFromCache($event)"><ion-icon name="trash"></ion-icon> Supprimer</button>
        </ion-item>
    </ion-list>
    <div item-right class="spinner" [hidden]="!sound.loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</ion-content>