<ion-navbar *navbar class="show-navbar" primary>
    <button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Le palmashow</ion-title>
    <ion-buttons end>
        <button (click)="doRefresh()">
            <ion-icon name='refresh'></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content>
    <ion-refresher (refresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Glisser vers le bas pour rafrâichir"
                refreshingSpinner="circles"
                refreshingText="Chargement...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="#group of groups" (click)="goToGroupsPage(group)">
        <ion-card-content>
            <ion-card-title>{{group.title}}</ion-card-title>
            <p>{{group.description}}</p>
            <p *ngIf="group.items"><small><i>{{group.items}}</i></small></p>
        </ion-card-content>
    </ion-card>
</ion-content>