<ion-navbar *navbar class="show-navbar" primary>
    <button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Le palmashow</ion-title>
</ion-navbar>
<ion-content>
    <ion-card *ngFor="#group of groups" (click)="goToGroupsPage(group)">
        <img src="{{group.imageName}}" />
        <ion-card-content>
            <ion-card-title>{{group.title}}</ion-card-title>
            <p>{{group.description}}</p>
            <p *ngIf="group.items"><small><i>{{group.items}}</i></small></p>
        </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (infinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Chargement des données...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>