<ion-navbar *navbar class="show-navbar" primary>
    <button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
</ion-navbar>
<ion-content class="has-header">
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
    <ion-list no-border>
        <ion-item *ngFor="#sound of sounds | searchFilter:{name:searchQuery}" (click)="onPlay($event,sound)">
            <h2>{{sound.name}}</h2>
            <p *ngIf="sound.user_id">{{getUsername(sound.user_id)}}</p>
            <p>Ajouté le {{sound.creation_date | stringDate:'shortDate'}}</p>
            <button outline secondary item-right (click)="onClickCache($event)" *ngIf="cacheService.soundInCache(sound.file)"><ion-icon name="archive"></ion-icon> Cache</button>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (infinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Chargement des sons...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>